@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
body {
    margin: 0;
    padding: 0;
    background-color: #212121;
    font-family: Roboto, sans-serif;
    overflow-y: auto;
}
#tabs-container {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 6;
    width: 1500px;
}
.tab {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 50px;
    padding: 8px 16px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    position: relative;
    z-index: 6;
}
.tab:hover {
    background-color: rgba(255, 255, 255, 0.125);
    cursor: pointer;
    box-shadow: 0 0.25em 0.25em -0.25em var(--hover);
    position: relative;
}
.tab:hover::before {
    content: "";
    position: absolute;
    top: -0.1em;
    left: -0.1em;
    right: -0.1em;
    bottom: -0.1em;
    background-color: white;
    opacity: 0.35;
    filter: blur(9px);
}
.black-block {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 55px;
    background-color: #0d0d0d;
    z-index: 3;
}
.black-header {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background-color: #0d0d0d;
    z-index: 3;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #0d111700;
    color: white;
    padding: 10px;
    text-align: center;
}
