@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
/*
ALL BELOW IS A SKID FROM A PAGE, IM JUST TRYING TO GET USED TO THIS
*/
body {
    margin: 0;
    padding: 0;
    background-color: #0d1117;
    font-family: Roboto, sans-serif;
    overflow: hidden;
}
#tabs-container {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.tab {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 100px;
    padding: 8px 16px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    position: relative;
    z-index: 2;
}
/* 
Just testing :clueless:
*/
